* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--negro);
    text-align: left;
    line-height: 200%;
    /* border: 1px solid red; */
}

:root {
    --fucsia: hsl(266, 75%, 55%);
    --rosa: hsl(335, 69%, 70%);
    --blanco_fondo: hsl(0, 0%, 100%);
    --blanco: hsl(0, 0%, 95%);
    --azul: hsl(241, 100%, 66%);
    --negro: hsla(0, 0%, 17%, 0.795);
    --negro_oscuro: hsl(0, 0%, 11%);
}

.button {
    background-color: var(--fucsia);
    color: var(--blanco);
}

.logo {
    font-weight: 800;
    color: var(--fucsia);
    font-size: 25px;

}

nav {
    background-color: var(--blanco);
    color: var(--azul);
}

h1 {
    color: var(--azul);
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

#home {
    background-color: var(--blanco_fondo);
}

#servicios {
    background: var(--negro_oscuro);
    text-align: center;
    color: var(--blanco);

}


.imgpregunta {
    width: 30vw;

}

li {
    list-style: circle;
}


.imghome {
    width: 100%;
    border-radius: 20px;
}

section {
    padding-top: 9%;
    width: 100vw;
    height: 110vh;


}

.diseño {
    color: var(--fucsia);
}

.mitad {
    width: 50%;
    height: 100%;
}


.titulo {
    font-size: 42px;
    font-weight: 800;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


svg {
    width: 20%;
    fill: var(--azul);

}

.cards {
    color: var(--blanco);
    background-color: var(--negro);
    border-radius: 30px;
    height: 60vh;
    margin: 3%;
}

p {
    color: var(--blanco);
}

h3 {
    text-align: center;
    padding: 1rem;
}

p {
    text-align: center;
}



.btn-wtsp {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(0, 255, 106);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    transition-duration: 500ms;
    z-index: 999;

    fill: var(--blanco);
}

.btn-wtsp:hover {
    bottom: 30px;
    fill: var(--blanco);
}

.i-w {
    width: 40px;
    fill: var(--blanco);
}